$content-width: 720px;
$content-padding: 16px;

body {
    margin: 0;
    padding: 0;
    font-family: system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

    header {
        background: #f2f2f2;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
        margin-bottom: 16px;
        position: sticky;
        top: 0;

        >div {
            padding: 0 $content-padding;
            margin: 0 auto;
            max-width: $content-width;
            line-height: 60px;
            height: 60px;
            font-weight: bold;

            h1 {
                margin: 0;
                padding: 0;
                display: inline-block;
                white-space: nowrap;
                font-size: 1.2em;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }
    }

    blockquote {
        border-left: 2px solid #ffaa00;
        margin: 0;
        padding: 8px 16px;
        background: rgba(255, 200, 0, .1);

        p {
            margin: 0;
        }
    }

    .content {
        line-height: 24px;
        margin: 0 auto;
        max-width: $content-width;
        padding: 0 $content-padding;
        font-size: 14px;

        .link-generator {
            border: 2px solid rgba(0, 0, 0, .4);
            border-radius: 8px;
            background: #f2f2ff;
            padding: 16px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);

            &.valid {
                .btn {
                    display: block;
                }
            }

            &.invalid {
                border: 2px solid rgba(255, 40, 0, .8);
            }

            .title {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 16px;
            }

            .descr {
                line-height: 24px;
                margin-bottom: 16px;
            }

            input {
                height: 42px;
                line-height: 40px;
                border: 1px solid rgba(0, 0, 0, .1);
                padding: 0 16px;
                outline: none;
                display: block;
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 16px;
                background: transparent;
                background: #fff;
                font-size: 14px;

                &.focus {
                    outline: 4px solid rgba(0,0,0,.1);
                }
            }

            .error {
                color: red;
                padding: 16px 0;
                display: none;
            }

            .cite {
                border-radius: 8px;
                padding: 8px;
                background: #eee;
                margin-bottom: 16px;
                display: block;
                overflow: auto;
            }

            .btn {
                display: none;
                text-align: center;
                height: 42px;
                line-height: 40px;
                border: 1px solid rgba(0, 0, 0, .1);
                cursor: pointer;
                text-decoration: none;
                border-radius: 0;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                border: 1px solid #ddd;
                background-image: linear-gradient(#00aa22, #00ea22);

                &:focus {
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
                }

                &:active {
                    outline: 8px solid rgba(0, 0, 0, .1);
                    background-image: linear-gradient(#008811, #009911);
                }
            }
        }
    }
}
